<app-page-header
  [title]="texts.pages.todoList"
  (addElement)="openCreateModal()"
>
  @if (canShare()) {
  <app-share-button left />
  }
  <app-search-bar
    [label]="texts.placeholders.filterByCategory"
    [items]="autoCompleteCategoryData()"
    placeHolder=""
    [typeaheadTitle]="texts.typeahead.selectCategory"
    [initalData]="categoryFilterId()"
    (changeItem)="handleFilterByCategory($event)"
  ></app-search-bar>
</app-page-header>

<ion-content [fullscreen]="true" (ionScrollEnd)="onScrollEnd()">
  @defer (when todos().length > 0 || loading()) {
  <div class="filters">
    <ion-segment [value]="filter()" (ionChange)="onFilterChange($event)">
      <ion-segment-button value="all">
        <ion-label>{{ texts.filters.all }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="active">
        <ion-label>{{ texts.filters.active }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="completed">
        <ion-label>{{ texts.filters.completed }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  <ion-list inset>
    @for (todo of todos(); track todo.id) {
    <app-todo-item
      [todo]="todo"
      (toggleComplete)="onToggle($event)"
      (deleteTodo)="onDelete($event)"
      (editTodo)="openEditModal($event)"
    />
    }
  </ion-list>

  <ion-infinite-scroll
    [disabled]="!hasMorePages()"
    (ionInfinite)="onLoadMore($event)"
  >
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  } @placeholder { @if (!loading()) {
  <app-empty-state
    [title]="emptyDatComponent().title"
    [message]="emptyDatComponent().message"
    icon="checkmark-circle-outline"
  >
    @if (!hasCategories()) {
    <ion-button fill="clear" (click)="goToCategories()"
      >{{ texts.buttons.addCategory }}</ion-button
    >
    }
  </app-empty-state>
  } } @if (todos().length > 0) {
  <ion-footer>
    <ion-toolbar>
      @if (completedCount() > 0) {
      <span slot="end" class="completed-count">
        {{ completedCount() }} {{ texts.footer.completed }}
        <ion-button fill="clear" size="small" (click)="clearCompleted()">
          {{ texts.footer.clearAll }}
        </ion-button>
      </span>
      }
    </ion-toolbar>
  </ion-footer>
  }
</ion-content>
