<app-page-header [title]="texts.pages.categories" (addElement)="openCreateModal()"></app-page-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ texts.pages.categories }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list inset>
    @for (category of categories(); track category.id) {
      <app-category-item
        [category]="category"
        (deleteCategory)="onDelete($event)"
        (editCategory)="openEditModal($event)"
      />
    } @empty {
      <app-empty-state
        [title]="texts.empty.noCategories"
        [message]="texts.empty.tapToAddFirstCategory"
        icon="pricetag-outline"
      />
    }
  </ion-list>
</ion-content>
