<ion-item button detail="false" (click)="categoryModal.present()">
  <ion-input [label]="label()" [placeholder]="selectedText() || placeHolder()" readonly />
</ion-item>
<ion-modal #categoryModal>
  <ng-template>
    <app-typeahead
      class="ion-page"
      [title]="typeaheadTitle()"
      [items]="items()"
      [selectedItem]="initalData() ?? 0"
      (selectionChange)="onCategorySelection($event)"
      (selectionCancel)="onCategoryCancel()"
    ></app-typeahead>
  </ng-template>
</ion-modal>