<div class="form-header">
  <ion-buttons>
    <ion-button (click)="closeModal()">
      <ion-icon slot="icon-only" name="close-outline" />
    </ion-button>
  </ion-buttons>
  <ion-title>{{ formTitle }}</ion-title>
  <ion-buttons>
    <ion-button (click)="onSubmit()" [strong]="true" [disabled]="!isValid()">
      {{ texts.buttons.save }}
    </ion-button>
  </ion-buttons>
</div>

<ion-content class="form-content">
  <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
    <ion-list inset>
      <ion-item>
        <ion-input
          [label]="texts.form.titleRequired"
          labelPlacement="stacked"
          [placeholder]="texts.placeholders.whatNeedsToBeDone"
          formControlName="title"
          required
        />
      </ion-item>
      <ion-item>
        <app-search-bar
          [label]="texts.form.categoryRequired"
          [placeHolder]="texts.placeholders.selectCategory"
          [typeaheadTitle]="texts.typeahead.selectCategory"
          [items]="categories"
          [initalData]="initialData?.categoryId ?? undefined"
          (changeItem)="onCategorySelection($event)"
        ></app-search-bar>
      </ion-item>
      <ion-item>
        <ion-textarea
          [label]="texts.form.descriptionOptional"
          labelPlacement="stacked"
          [placeholder]="texts.placeholders.addMoreDetails"
          [rows]="4"
          [autoGrow]="true"
          formControlName="description"
        />
      </ion-item>
    </ion-list>
  </form>
</ion-content>
